html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #5539cc;
  color: aliceblue;
}

.topnav {
  background-color: transparent;
  border: 10px;
  border-radius: 10px;
  background-size: contain;
}

.searchbar input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 10px;
}

.topnav button {
  border-radius: 10px;
  background-color: black;
  height: 50px;
  width: 100px;
  text-align: center;
  color: red;
  font-size: 30px;
}

.topnav button[class='active'] {
  border-radius: 10px;
  background-color: grey;
  height: 50px;
  width: 100px;
  text-align: center;
  font-size: 30px;
  color: red;
}

.locktitle {
  font-family: 'Ubuntu', sans-serif;
}

.notice {
  font-family: 'Ubuntu', sans-serif;
}

.searchbutton {
  border: none;
  border-radius: 10px;
  background-color: antiquewhite;
}

.brandlink {
  color: antiquewhite;
}